/* Reset and base styles  */
* {
	padding: 0px;
	margin: 0px;
	border: none;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

/* Links */

a, a:link, a:visited  {
    /* color: inherit; */
    text-decoration: none;
    /* display: inline-block; */
}

a:hover  {
    /* color: inherit; */
    text-decoration: none;
}

/* Common */

aside, nav, footer, header, section, main {
	display: block;
}

h1, h2, h3, h4, h5, h6, p {
    font-size: inherit;
	font-weight: inherit;
}

ul, ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

img, svg {
	max-width: 100%;
	height: auto;
}

address {
  font-style: normal;
}

/* Form */

input, textarea, button, select {
	font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: transparent;
}

input::-ms-clear {
	display: none;
}

button, input[type="submit"] {
    display: inline-block;
    box-shadow: none;
    background-color: transparent;
    background: none;
    cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
    outline: none;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

label {
	cursor: pointer;
}

legend {
	display: block;
}
/* ================================== */
* *::-webkit-scrollbar {
	width: 13px;
}

* *::-webkit-scrollbar-track {
	background: #fafafa;
}

* *::-webkit-scrollbar-thumb {
	background-color: #855f19;
	border-radius: 8px;
	border: 3px solid #fafafa;
}

/* Курсор */
#cursor,
#aura {
	position: fixed;
	border-radius: 100%;
	transition: .5s cubic-bezier(.75,-1.27,.3,2.33) transform,
							.2s cubic-bezier(.75,-1.27,.3,2.33) opacity;
	user-select: none;
	pointer-events: none;
	z-index: 10000;
}
#cursor.hidden,
#aura.hidden {
	transform: scale(0.001);
}

#cursor {
	width: 8px;
	height: 8px;
	background-color: rgba(0,0,0, .5);
}

#aura {
	width: 46px;
	height: 46px;
	border: 1px solid rgb(92, 89, 86);
	background-color: rgba(255,255,255, .2);
	transform: translate(5px, 5px);
}


/*  */

body, 
html {
  height: 100%;
	font-family: "Montserrat", sans-serif;
	font-weight: 400;
	color: #000;
	transition: .6s;
	/* cursor: none; */
}

html {
	scroll-behavior: smooth;
}

body.blocked {
	overflow-y: hidden;
	overflow-x: hidden;
}

.main-wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1 1 auto;
}

.container-width {
	max-width: 1170px;
	height: 100%;
	margin: 0 auto;
	padding: 0 15px;
}


/* Мобильное меню */
.menu-mobile-btn-wrap {
	position: absolute;
	z-index: 10;
	width: 100px;
	height: 100px;
	top: 0;
	left: 50%;
	border-radius: 100%;
	transform: translateX(-50%) translateY(-50%);
	background-color: #685858;
	flex-direction: column;
	align-items: center;
	justify-content: flex-end;	
	display: none;
}

.menu-mobile-btn {
	font-weight: 200;
	color: #fff;
	font-size: 20px;
	margin-bottom: 20px;
}

.mobile-menu-bg {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
  z-index: 100;
	transition: 0.5s all;	

	opacity: 0;
	pointer-events: none;
}

.mobile-menu-bg.active {
	opacity: 1;
	pointer-events: all;
}

.mobile-menu {
	position: absolute;
	width: 80%;
	height: 100%;
  top: 0%;
  left: 0;
  background-color: #fff;
	display: flex;
	flex-direction: column;
	align-items: center;
	transition: 0.5s all;	
	padding: 50px 20px;
	transform: translateX(-100%);
}

.mobile-menu.active {
	transform: translateX(0);
}

.mobile-menu::after {
	content: '';
	position: absolute;
	z-index: -5;
	bottom: 0;
	right: 0;
	width: 100%;
	height: 40%;
	background: url('/img/icons/mobile-menu.svg') no-repeat;
	background-size: contain;
}

.mobile-menu__close {
	position: absolute;
	cursor: pointer;
	width: 50px;
	height: 50px;
	background-color: #fff;
	right: 0;
	top: 20px;
	transform: translateX(100%);
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-size: 26px;
	color: #000;
}

.mobile-menu__content {
	min-height: 100%;
	width: 80%;
	overflow-y: auto;
}

.mobile-menu__social {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 30px;
}

.mobile-menu__link-phone-wrap {
	width: 100%;
	margin-bottom: 30px;
	display: flex;
	justify-content: center;
}

.mobile-menu__link-phone {
	display: inline-block;
	position: relative;
	font-size: 17px;
	color: #535a64;
	font-weight: 400;
	padding-left: 25px;	
}

.mobile-menu__link-phone::before {
	content: '';
	position: absolute;
	top: 50%;
	left: 0;
	transform: translateY(-50%);
	width: 20px;
	height: 20px;
	background: url(../img/icons/tel.svg) no-repeat;
	background-size: contain;
}

.mobile-menu__social-link {
	width: 30px;
	height: 30px;
	display: inline-block;
}

.mobile-menu__social-icon {
	width: 100%;
	height: 100%;
	object-fit: contain;
}

.mobile-menu__list {
	min-height: 80%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.mobile-menu__item {
	-webkit-box-shadow: 2px 4px 3px rgb(187 141 55 / 20%);
	box-shadow: 2px 4px 3px rgb(187 141 55 / 20%);
	background: #8d6c6c0d;
}

.mobile-menu__link {
	display: inline-block;
	width: 100%;
	text-align: center;
	padding: 16px 0;
	color: #bb8d37;
	font-weight: bold;
}
.mobile-menu__info {
}
/* Модальное окно обратной связи */
.popup-back-call-bg {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
  z-index: 100;
	transition: 0.5s all;
	
	opacity: 0;
	pointer-events: none;
}

.popup-back-call-bg.active {
	opacity: 1;
	pointer-events: all;
}

.popup-back-call {
	position: absolute;
  top: 50%;
  left: 50%;
  padding: 50px 20px;
  background: #fff;
  transform: translate(-50%, -50%) scale(0);
	display: flex;
	flex-direction: column;
	align-items: center;
	border-radius: 25px;
	transition: 0.5s all;
}

.popup-back-call.active {
	transform: translate(-50%, -50%) scale(1);
	transition: 0.5s all;
}

.call__close-wrap {
	position: absolute;
	top: 13px;
	right: 20px;
	width: 25px;
	height: 25px;
}

.call__close-btn {
	width: 100%;
	height: 100%;
	background: url('../img/icons/close-call.svg') no-repeat;
	background-size: contain;
}

.call-form {
	max-width: 320px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.call-form__name,
.call-form__phone {
	border: 1px solid rgba(107, 107, 107, 0.846);
	border-radius: 5px;
	width: 100%;
	margin-bottom: 20px;
	padding: 10px 15px;
}

.call-form__name.error,
.call-form__phone.error {
	border: 2px solid red;
}

.call-form__desc {
	text-align: center;
	margin-bottom: 20px;
}

.call-send {
	border-radius: 10px;
	background-color: #000;
	color: #fff;
	width: 130px;
	text-align: center;
	padding: 10px;
	font-size: 18px;
	cursor: pointer;	
}

/* Модальное окно услуги */
.popup-service-bg {
	position: fixed;
	overflow-y: auto;
  width: 100%;
  height: 100%;
  bottom: -100%;
  left: 0;
  background: #fff;
  z-index: 99;
	transition: 0.5s all;

	opacity: 0;
	pointer-events: none;
}

.popup-service-bg.active {
	bottom: 0;
	opacity: 1;
	pointer-events: all;
	transition: 0.5s all;
}

.popup-service__container {
	max-width: 1170px;
	height: 100%;
	margin: 0 auto;
	padding: 50px 15px;
}

/* .popup-service__body {
} */

.popup-service__prev-btn {
	text-transform: uppercase;
	font-weight: 500;
	font-size: 22px;
	line-height: 24px;
	letter-spacing: -0.01em;
	margin-bottom: 45px;
	color: #b78e43;
	border-bottom: 1px solid #b78e43;
}

.popup-service__wrap {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}

.popup-service__info {
	max-width: 50%;
	margin-right: 30px;
}

.popup-service__title {
	position: relative;
	font-family: "Times New Roman", sans-serif;
	font-weight: 400;
	font-size: 40px;
	line-height: 53px;
	color: #5c5956;
	margin-bottom: 15px;	
}

.popup-service__title:before {
	content: "";
	position: absolute;
	width: 135px;
	height: 2px;
	top: 50%;
	left: -150px;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	background: -webkit-gradient(linear, left top, right top, color-stop(34.56%, #f5da8d), color-stop(84.76%, #b78e43));
	background: linear-gradient(90deg, #f5da8d 34.56%, #b78e43 84.76%);	
}

.popup-service__text {
	font-weight: 400;
	font-size: 20px;
	line-height: 153.4%;
	letter-spacing: -0.01em;
	color: #535a64;		
}

.popup-service__text:not(:last-child) {
	margin-bottom: 25px;
}

.popup-service__demo-wrap {
	max-width: 50%;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.popup-service__demo {
	position: relative;
	width: 100%;
	max-height: 400px;
	height: 400px;
	overflow: hidden;
	margin-bottom: 30px;
}

.popup-service__demo-img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: left center;
}
.popup-service__demo-resize {
	position: absolute;
	top: 0px;
	left: 0px;
	max-width: 100%;
	height: 100%;
	border-right: 2px solid #fff;
}

.popup-service__demo-resize.tr {
	transition: .4s;
}

.popup-service__demo-resize::after {
	content: '';
	position: absolute;
	right: -25px;
	top: 50%;
	width: 50px;
	height: 50px;
	transform: translateY(-50%);
	background: url('../img/icons/leftright.svg') no-repeat;
	background-size: contain;
	cursor: pointer;
}

@media (max-width: 1000px) {
	/* Модальное окно услуги */
	.popup-service__wrap {
		flex-direction: column;
		align-items: center;
	}
	
	.popup-service__info {
		margin-right: 0;
		margin-bottom: 50px;
	}
	
	.popup-service__title {
		text-align: center;
	}

@media (max-width: 900px) {
	/* Курсор */
	#aura,
	#cursor {
		display: none;
	}
}

@media (max-width: 800px) {
	.menu-mobile-btn-wrap {
		display: flex;
	}
}

@media (max-width: 600px) {
	.popup-back-call.active {
		width: 80%;
	}
	.call-form {
		max-width: none;
	}
}


